@import "wgge/style/style.less";

.wegge-game-container {
	background-image: url('../assets/img/texture/menu.jpg');
}

.ui-shadow {
	box-shadow: 0 0 15px black;
}

.travel {

	.top-menu {
		height: 35px;
	}

	.main-view {
		.ui-shadow();
		display: flex;
		background-color: black;
		border-top-right-radius: 5px;

		canvas {
			border-top-right-radius: 5px;
		}

	}

	.menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 322px;

		.map {
			.ui-shadow();
			display: flex;
			background-color: black;
			border-radius: 5px;

			canvas {
				border-radius: 5px;
			}
		}
	}
}
