@import "wgge/style/style.less";

.wegge-game-container {
	background-image: url('../assets/img/menu.jpg');
}

.ui-shadow {
	box-shadow: 0 0 10px black;
}

.stat-bar {
	height: 100%;
	display: flex;
	justify-content: stretch;
	border: solid 1px black;

	& > .stat-1 {
		background-color: red;
	}

	& > div {

	}
}

.inventory {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: start;

	padding: 5px;
	gap: 5px;

	.item-slot {
		box-shadow: inset 0 0 10px black;
		padding: 5px;
		border-radius: 5px;
		overflow: hidden;
		width: 62px;
		height: 62px;

		img {
			float: left;
			max-width: 62px;
			max-height: 62px;
			width: auto;
			height: auto;
		}
	}
}

.action-log {
	font-size: 14pt;
	text-align: left;
	color: black;
	background-color: #a05009;
	overflow: auto;

	.action-log-actions {
		padding: 10px;

		.log-item {
			border-bottom: solid 1px black;
			margin-bottom: 5px;
			padding-bottom: 5px;
		}
	}
}

.travel {
	.top-menu {
		height: 35px;
		min-height: 35px;
		flex-shrink: 0;
		display: flex;

		.inner {
			width: 100%;
			display: flex;
			gap: 20px;
			align-items: center;
			justify-content: space-around;

			.health {
				display: flex;
				align-items: center;
				justify-content: space-around;
				gap: 20px;

				.health-bar {
					width: 150px;
					height: 10px;
				}
			}

			.tile-info {
				display: flex;
				gap: 10px;

				& > div {
					display: flex;
					gap: 10px;
				}
			}
		}
	}

	.row {
		flex: 1;
		min-height: 0;

		.main-view {
			.ui-shadow();

			overflow: hidden;
			background-color: black;
			border-top-right-radius: 5px;
			min-height: 0;

			canvas {
				border-top-right-radius: 5px;
			}

		}

		.menu {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			justify-content: start;
			gap: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
			padding-right: 10px;
			min-height: 0;

			.map {
				.ui-shadow();

				width: 320px;
				height: 320px;
				display: flex;
				background-color: black;
				border-radius: 5px;

				canvas {
					border-radius: 5px;
				}
			}

			.inventory-wrapper {
				.ui-shadow();

				border-radius: 5px;
				min-height: 0;
				flex: 1;
				overflow: auto;
			}

			.action-log {
				.ui-shadow();

				border-radius: 5px;
				min-height: 0;
				flex: 1;
			}
		}
	}

	.cursor-item {
		position: absolute;
		pointer-events: none;
	}
}

